.dygraph-legend {
  background-color: transparent !important;
  padding: 2px;
  border: 0.5px solid #000;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #888;
  pointer-events: none;
  width: 110px;
  position: relative;
  left: 100% !important;
}

pre {
  margin-top: 30px;
}