[Unit]
Description=IOT Internet Speed Measure

[Service]
Type=simple
WorkingDirectory=/opt/home-temp-server/net-info-server
ExecStart=python3 netinfo.py

[Install]
WantedBy=multi-user.target