[Unit]
Description=IOT website

[Service]
Type=simple
WorkingDirectory=/opt/home-temp-server/weather-server
ExecStart=python3 -m http.server 3388