[Unit]
Description=IOT PC data gather

[Service]
Type=simple
WorkingDirectory=/opt/home-temp-server/pc-info-server
ExecStart=python3 pcserver.py

[Install]
WantedBy=multi-user.target