[Unit]
Description=IOT PC data gather

[Service]
Type=simple
WorkingDirectory=/opt/home-temp-server/pc-info-server
ExecStart=python3 pcserver.py '../weather-server/data/pc-data-TIME.csv'

[Install]
WantedBy=multi-user.target