[Unit]
Description=IOT website

[Service]
Type=simple
WorkingDirectory=/opt/home-temp-server/weather-server
ExecStart=twist3 web -n --listen tcp:3388 --path "/opt/home-temp-server/weather-server"

[Install]
WantedBy=multi-user.target